h1{
    font-family: 'Lobster';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 61px;
    text-align: center;
}
a {
    text-decoration: none;
}
p:first-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
}
.price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #008000;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

}
#first-price{
    text-decoration: line-through;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FF0000;
}
h2{
    text-transform: uppercase;
    
}

.text p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 2px;
    word-spacing: 2px;
    
}
table tr{
    line-height: 36px;
}
.book-pic{
    background-image: url('book1.png');
    background-repeat:no-repeat;
    text-align: center;
    height: 478px;
    width: 320px;
}
#comments{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.comments-area{
    display: flex;
    justify-content: space-between;
}
.comments-div{
    text-align: center;
    line-height:30px;
}
.gonder{
    background-color:  #109E97;
    color: white;
    width: 120px;
    height: 50px
}
.footer-copyright{
    background-color: #109E97;
    color: white;
    text-align:center;
    padding-top: 40px;
    padding-bottom: 40px;
}
label{
    height: 30px;
}

.first{
    border: 1px solid yellow;
    position: relative;
    margin: auto;
    width: 80%;
    height: 450px;
    margin-top: 60px;
}

.header{
    width: 100%;
    background-color: #109E97;
    border-bottom: black;
    border-style:inset
}

.img{
   
    height: 450px;
  
}

.book-name{
    position: absolute;
    width: 718px;
    top: 0;
    right: 0;
    border: 3px solid rgb(163, 236, 163)
}

.text{
    position:absolute;
    width: 718px;
    right: 0;
    bottom: 0;
    border: 3px solid rgb(163, 236, 163)
}
.text h2{
    margin-bottom: 10px;
}

.sebet{
    background-color:  #109E97;
    color: white;
    width: 149px;
    height: 48px;
    left: 752px;
    top: 634px;
    border: 1px solid #109E97;
    margin-top: 20px;
}

.second{
    position: relative;
    margin: auto;
    width: 80%;
    height: 250px;
    margin-top: 60px;
}

.second h2{
    text-align: center;
   margin-bottom: 20px;
}

tr{
    border-top: 1px solid rgb(50, 47, 47);
    border-bottom: 1px solid rgb(50, 47, 47);
}

.icon{
    font-size: 50px;
   background-color: #109E97;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.linkler{
    position: fixed;
    right: 15px;
    top: 300px;
}

footer{
    margin-top: 80px;
}