*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 1px;
}

.title{
    background-color: white;
    color: #109E97;
    font-family: 'Lobster', cursive;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 49px;
}



.header{
    background-color: #109E97;
    display: flex;
    justify-content: center;

}


ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 70%;
}

.nav-links{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links :first-of-type{
    border-left: 1px solid white;
}

.nav-links a{
    text-decoration: none;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.first-div{
    background-image: url("cover.png");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    padding: 30px 0;
    height: 628px;
    width: 100%;
}


.child-div{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    color: black;
}

.paragraph{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 60%;
}

.first-div button{
    background-color: #109E97;
    width: 20%;
    color:white;
    height: 40px;
    border: 1px solid #109E97;
    margin: 20px 0;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-weight: bold;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 70%;
    height: 1000px;
    margin: auto;
    border: 1px solid #916A6A;
}

.items{
    border: 1px solid #109E97;
    display: flex;
    width: 22%;
    height: 275px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

}

.items img{
    width: 41%;
}

.icon{
    font-size: 50px;
   background-color: #109E97;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.linkler{
    position: fixed;
    right: 15px;
    top: 300px;
}

i {
    font-size: 35px;
}

.linkler a{
    display: flex;
    color: white;
    width: 50px;
    height:50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#yuxari{
    background-color: grey;
}

.footer{
    color: white;
    background-color:  #109E97;
    width: 100%;
    height: 98px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}